{% extends 'proyectos/base.html' %}
{% load static %}

{% block title %}Proyectos - Tecsup Vault{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <h2 class="huge-title">Lista de Proyectos</h2>
            <div class="row">
                {% for proyecto in proyectos %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ proyecto.titulo }}</h5>
                            <p class="card-text">{{ proyecto.descripcion }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No hay proyectos disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
{% endblock %}