{% extends 'proyectos/base.html' %}
{% load static %}

{% block title %}Quienes somos - Tecsup Vault{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="huge-title">Propósito de la Aplicación</h1>
                    <p class="big-paragraph">En <strong>Tecsup voult</strong>, nos enfocamos en facilitar la gestión, almacenamiento y acceso a proyectos integradores de estudiantes y profesionales, brindando una plataforma segura y eficiente para preservar el trabajo académico.</p>
                    
                    <p class="big-paragraph">En un entorno donde los proyectos académicos y colaborativos son fundamentales para el desarrollo de habilidades, es esencial contar con una solución que permita centralizar, proteger y organizar estas contribuciones valiosas.</p>
        
                    <p class="big-paragraph">Nos dirigimos a instituciones educativas y organizaciones que desean contar con una herramienta fiable para gestionar proyectos integradores de estudiantes en diversas disciplinas, garantizando que sus trabajos estén accesibles en cualquier momento y lugar.</p>
        
                    <p class="big-paragraph">Nuestro valor agregado se basa en ofrecer una plataforma intuitiva y personalizada que permite a cada institución gestionar sus proyectos integradores de manera eficiente, facilitando la evaluación y seguimiento por parte de los tutores.</p>
                </div>
            </div>
        </div>
    </main>    
    
    <section class="container blogs">
        <h1 class="heading-1">Personal</h1>
    
        <div class="container-blogs">
            <div class="card-blog">
                <div class="container-img">
                    <div class="button-group-blog">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span>
                            <i class="fas fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Ochoa Cuenca, Orlando Fabio</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    <div class="button-group-blog">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span>
                            <i class="fas fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Rodriguez Frias, Yoao Steve</h3>
                    </div>
            </div>
            <div class="card-blog">
                <div class="container-img">
                    <div class="button-group-blog">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        <span>
                            <i class="fas fa-link"></i>
                        </span>
                    </div>
                </div>
                <div class="content-blog">
                    <h3>Cesar Rafael Gonzales Tucto</h3>
                    </div>
            </div>
    </section>
    
    

    <footer class="footer">
        <div class="container container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li>Teléfono: 123-456-7890</li>
                        <li>EmaiL: tecsup@.com</li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </span>
                        <span class="twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </span>
                        <span class="youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                        <span class="pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </span>
                        <span class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </div>
                </div>

                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a href="#">Acerca de Nosotros</a></li>
                    </ul>
                </div>


                <div class="newsletter">
                    <p class="title-footer">Boletín informativo</p>

                    <div class="content">
                        <p>
                            Tratando de presentar el mejor protecto
                        </p>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <p>
                    Desarrollado por Cesar v.v &copy; 2024
                </p>

            </div>
        </div>
    </footer>

    <script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
</body>
</html>
{% endblock %}
